@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
}

body {
	margin: 0;
	font-family: Montserrat, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	padding-top: 100px;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.2;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.wrap{
	position: relative;
	width: 100%;
}

.work{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.emptyFlex{
	flex-grow: 1;
}

@media only screen and (max-width: 1199px){
	.work{
		padding: 0 10px;
		box-sizing: border-box;
	}
}